@charset "UTF-8";
.d-container-right {
  flex-basis: 65%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.d-container-right-textarea {
  width: 100%;
  height: 100%;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.49);
  position: absolute;
}
.d-container-right-btn {
  width: 20%;
  display: inline-block;
  border-radius: 5%; /* 角丸       */
  font-size: 15pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 12px 12px; /* 余白       */
  background: #ffffff; /* 背景色     */
  color: #6B7280; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  margin: 0px 20px 20px;
}
.d-container-right-btn:hover {
  color: #ffffff; /* 背景色     */
  background: #6B7280; /* 文字色     */
}
